<html>



<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
</ul>

<head>
	<link href="styles/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div style="width:400px">
<div id="header" style="background-color:#3385FF;">
<h1 style="margin-bottom:0;">Blog Italy</h1></div>

<div id="menu" style="background-color:white;height:200px;width:400px;float:left;">
<b>Follow</b><br>
Message<br>
Like<br>
Post</div>

<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
Content goes here</div>

<div id="footer" style="background-color:#FFFF80;clear:both;text-align:center;">
</div>

</div>
</div>











	<%= yield %>
</body>
</html>