<%= flash[:message] if flash[:message]%>
<form method="POST" action="/sign-in-process">
	<label for="email">E-mail</label>
	<input type="email" name="email">
	&nbsp;&nbsp;
	<label for="password">Password</label>
	<input type="password" name="password">

</br>
<input type="submit" name="submit" value="Login">
</form>